fastapi
uvicorn[standard]
sqlalchemy[asyncio]
alembic
pydantic
pydantic-settings
python-multipart
jinja2
aiogram
redis
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
email-validator
httpx
aiomysql
asyncmy
aiosqlite
python-dotenv
Pillow
itsdangerous
apscheduler
qrcode[pil]
aiofiles
